.SearchBarContainer
{
    margin: auto;
    margin: 20px;
    justify-content: center;
}

.MuiGrid-root div
{
    margin: auto;
    display: flex;
    justify-content: center;
}

#username-field, #time-field, #submit-button
{
    margin: 13px;
}