.SearchBarContainer
{
    margin: 20px 20px 30px 20px;
    justify-content: center;
}

.MuiGrid-root div
{
    margin: auto;
    display: flex;
    justify-content: center;
}

#username-field, #time-field, #submit-button
{
    margin: 13px;
}

#username
{
    border-radius: 20px;
}

#username-label, #username, #time, #time-select
{
    font-family: 'Caveat', cursive;
    font-size: 150%;
}

#submit-button
{
    font-family: 'Caveat', cursive;
}
