.MediaCardContainer
{
    max-width: 310px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
}

.MediaCardImage
{
    height: 140px !important;
    max-width: 310px;
}

.MediaCardDescription
{
    height: 200px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.card-body
{
    height: 270px;
    display: flex;
    flex-direction: column;
}

.MediaCardTitle
{
    margin-top: 0px;
}

.MediaCardAbstract
{
    text-align: left;
}

.MuiGrid-root div button div div
{
    margin-top: 0px;
    margin-bottom: 10px;
}

.MuiGrid-root div
{
    justify-content: flex-start;
}

.MediaCardTitle
{
    font-size: 2rem;
    font-weight: bold;
}