.header
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

h1, h3
{
    text-align: center;
}

h1
{
    color: #014574;
}

#nyt
{
    font-family: 'UnifrakturCook', cursive;
    color: #fbb901;
    font-size: 170%;
}

#api
{
    font-family: 'Playball', cursive;
    color: #014574;
}

#api-link
{
    transition: 0.5s;
}

#api-link:link
{
    color: 	#2f92d2;
}

#api-link:visited
{
    color: 	#39bab5;
}

#api-link:hover
{
    color: 	#ce0018;
}

#head
{
    font-family: 'PT Serif', serif;
}

.steps
{
    font-family: 'Kalam', cursive;
}