.header
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

h1, h3
{
    text-align: center;
}

h1
{
    color: #e0e9e9;
}

#nyt
{
    color: #fbb901;
}

#api
{
    font-family: 'Playball', cursive;
    color: #e0e9e9;
}

#api-link
{
    transition: 0.5s;
}

#api-link:link
{
    color: 	#b5f4f4;
}

#api-link:visited
{
    color: 	#ffff72;
}

#api-link:hover
{
    color: 	#ce0018;
}